
<!DOCTYPE html>
<html>
<div style="margin-left:190px ; margin-right:190px">
<p id="notice"><%= notice %></p>
<table class="table table-bordered table-dark">
 <tbody>
    <tr>
      <th scope="col">Event description </th>
      <th scope="col"> Who invited you </th>
      <th scope="col"> When is it?</th>
      <th scope="col"> Title</th>
    </tr>
     <% @invites_of_user.each do |me|%>
       <% sender = User.where(id:me.sender_id).first%>
    <tr>
      <td><%= me.event.description%></td>
      <td><%= sender.name%></td>
      <td><%= me.created_at.to_date%></td>
      <td><%= me.title%></td>
    </tr>
<% end %>

 </tbody>
</table>
</div>
</html>