<div style="margin-left:360px ">
<div style="margin-right:360px ">
<%= form_with model: @user,url: users_admin_plz_path, method: :patch do |form|  %>

  <ul>
        <li><%= form.radio_button(:admin, "True") %>
        <%= label_tag(:admin, "Si admin") %></li>
    </ul>
    <ul>
        <li><%= form.radio_button(:admin, "False") %>
        <%= label_tag(:admin, "No admin") %></li>
    </ul>
  <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
     <div class="form-group">
      <%= form.label :location %>
      <%= form.text_field :location, class: "form-control" %>
    </div>
     <div class="form-group">
      <%= form.label :bio %>
      <%= form.text_field :bio, class: "form-control" %>
    </div>
       <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control" %>
    </div>
       <div class="form-group">
      <%= form.label :password %>
      <%= form.text_field :password, class: "form-control" %>
    </div>
  
  
  
  
  
  
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
</div>
