<div class="card" style="padding:20px">
   <div class="card" style="maring-left:130px">
      <p id="notice"><%= notice %></p>
      <h3>Profile of <%= @user.name%></h3>
      <%= @is_boolean%>
      <h4>Bio:</h4>
      <%= @user.bio%>
      <h4>Location:</h4>
      <%= @user.location%>
      <h4 style="maring:10px">Event invitations : </h4>
      <table class="table table-dark">
         <tbody>
            <tr>
               <th scope="col">Event description </th>
               <th scope="col"> Who invited you </th>
               <th scope="col"> When is it?</th>
               <th scope="col"> Title</th>
            </tr>
            <% @invites.each do |me|%>
            <% sender = User.where(id:me.sender_id).pluck(:name)%>
            <tr>
               <td><%= me.event.description%></td>
               <td><%= sender%></td>
               <td><%= me.created_at%></td>
               <td><%= me.title%></td>
            </tr>
            <% end %>
         </tbody>
      </table>
      <h4 style="maring:10px">My events </h4>
      <table class="table table-dark">
         <tbody>
            <tr>
               <th scope="col">Event description </th>
               <th scope="col"> When is it?</th>
               <th scope="col"> Where is it?</th>
               <th scope="col"> see event</th>
            </tr>
            <% @this_user_vents.each do |me|%>
            <tr>
               <td><%= me.description%></td>
               <td><%= me.created_at%></td>
               <td><%= me.place%></td>
               <td><%= link_to 'Go to event',user_event_path(@user.id,me.id) %></td>
            </tr>
            <% end %>
         </tbody>
      </table>
   </div>
</div>
 