<div style="margin-left:190px ; margin-right:190px">
<form action="/searchorg">
<input name="q" type="text" placeholder="Search Organization">
<button type="submit">Search</button>
<p id="notice"><%= notice %></p>
 <% if(@organization.banner.present?)%>
        <%=image_tag(@organization.banner,:size => "1900x400") %>
    <% end %>
<h3>Org name : <%= @organization.name%></h3>
<%= link_to 'Edit', edit_organization_path(@organization.id),class: ["btn", "btn-primary"]%>
<div class="card" style="margin: 20px">
<table class="table table-bordered table-dark">
 <tbody>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">When did they join the org?</th>
                <th scope="col">Action</th>
                </tr>
                <%cont = 1%>
                <% @my_org_participants.uniq.each do |me|%>
                <tr style="margin: 20px">
                <td ><%= cont %></td>
                <%cont +=1 %>
                <td><%= User.where(id:me).first.name %></td>
                <td><%= @my_org_participants_time_whenjoin[@my_org_participants.index(me)].to_date %></td>
                <% sample_org_user_id = OrganizationUser.where(user_id:me).first%>
                <td><%= link_to 'See Orgs of this user', user_organization_user_path(me,sample_org_user_id.id),class: ["btn", "btn-primary"] %></td>
                </tr>
            <% end %>

            </tbody>
</table>
<%p_org_events = Event.where(organization_id:@organization.id)%>
<h4>Public events</h4>
<%conti = 1%>
<table class="table table-bordered table-dark">
<tr>
    <th>#</th>
    <th>Event</th>
    <th># Guests</th>
    <th># Attendees</th>
    <th>Action</th>
</tr>
<% p_org_events.each do |ev|%>
<% if ev.public%>
    <td><%=conti%></td>
    <%conti += 1%>
    <td><%=ev.description%></td>
    <td><%= Invite.where(event_id:ev.id).count%></td>
    <td><%= Invite.where(event_id:ev.id).where(status:true).count%></td>
    <td><%=link_to 'See event', event_path(ev.id),class: ["btn", "btn-primary"]%></td>
<%end%>
<%end%>
</div>
</div>
