<%= form_with(model: image, local: true) do |form| %>
<%= hidden_field_tag(:event_id, @idd) %>
<%= form.label :flayer, "Add Image" %>
<%= form.file_field :flayer %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
