<!DOCTYPE html>
<html>
  <head>
    <title>Socialevenapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav class="navbar navbar-dark bg-dark" style="background-color: #2d3032;">
    <ul class="navbar-nav mr-auto" style="margin: 10px">
    <li class="nav-item" style="margin: 20px"><span style="color:white;">Social Event the App</span></li>
    <li class="nav-item" style="margin: 10px" style ="color:white;"><%= link_to 'Home', root_path,class: ["btn","btn-primary"] %></li>
    <%if current_user%>
      <li class="nav-item" style="margin: 10px" style ="color:white;"><%= link_to 'My events', user_events_path(1),class: ["btn","btn-primary"] %></li>
      <li class="nav-item" style="margin: 10px" style ="color:white;"><%= link_to 'My profile', user_path(current_user.id),class: ["btn","btn-primary"] %></li>
      <li class="nav-item" style="margin: 10px" style ="color:white;"><%= link_to 'Invites', user_invite_path(current_user.id,1),class: ["btn","btn-primary"] %></li>
      <li class="nav-item" style="margin: 10px" style ="color:white;"><%= link_to ' See my organizations', user_organization_user_path(1,1),class: ["btn","btn-primary"] %></li>
    <%else%>

    <%end%>
    <%if current_user%>
      <li class="nav-item" style="margin: 10px" style ="color:white;"><%= link_to 'Inbox', user_messages_path(current_user.id) , class: ["btn","btn-primary"]%></li>
      <li class="nav-item" style="margin-left: 410px; margin-top: 10px" style ="color:white;"><%= link_to ' Change password', edit_user_registration_path , class: ["btn","btn-warning"]%></li>
      <li class="nav-item" style="margin-left: 10px; margin-top: 10px" style ="color:white;"><%= link_to ' Sign out', destroy_user_session_path , method: :delete ,class: ["btn","btn-danger"]%></li>
    <%else%>
      <li class="nav-item" style="margin-left: 410px; margin-top:10px" style ="color:white;"><%= link_to ' Sign up', link_sign_path,class: ["btn","btn-success"] %></li>
      <li class="nav-item" style="margin: 10px" style ="color:white;"><%= link_to ' Sign in', new_user_session_path , class: ["btn","btn-success"]%></li>
      <li class="nav-item" style="margin: 10px" style ="color:white;"><%= link_to ' Recover password', new_password_path('user') , class: ["btn","btn-warning"]%></li>
    <%end%>
  </ul>
</nav>
  </head>

  <body>
     
    <%= yield %>
  </body>
  <footer>
  <span style="margin:10px">Made by carlos&lambos engenier team </span><%= link_to "See Terms of Use",tos_path%> &<%= link_to "See Terms of Service",tus_path%>
  </footer>
</html>
