<!DOCTYPE html>
<html>
  <head>
    <title>Socialevenapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav class="navbar navbar-dark bg-dark" style="background-color: #2d3032;">
    <ul class="navbar-nav mr-auto" style="margin: 10px">
        <li class="nav-item" style="margin: 10px"><span style="color:white;">Social Event the App</span></li>
    <li class="nav-item" style="margin: 10px" style ="color:white;"><%= link_to 'My profile', root_path %></li>
        <li class="nav-item" style="margin: 10px" style ="color:white;"><%= link_to 'My events', user_events_path(1) %></li>
    <li class="nav-item" style="margin: 10px" style ="color:white;"><%= link_to 'Invites', user_invite_path(1,1) %></li>
    <li class="nav-item" style="margin: 10px" style ="color:white;"><%= link_to ' See my organizations', user_organization_user_path(1,1) %></li>

  </ul>
</nav>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
  <span style="margin:10px">made by carlos and lambos engenier team</span>
  </footer>
</html>
